@use "../../../../styles/variables";

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &Item {
    padding: 2.5rem;
    //margin: 2rem 0;
    background-color: #f4f8ff;
    text-align: start;

    span {
      border-radius: 50%;
      padding: 0.7rem 0.7rem;
      background-color: variables.$secondary-color;
      font-size: 2rem;
    }

    h4 {
      margin-top: 2.2rem;
      line-height: 1.4;
      letter-spacing: 1.1px;
    }
  }
}
