@use "../../styles/variables";

.author {
  &Title {
    h2 {
      font-size: 2.3rem;
      padding-top: 2rem;
      color: variables.$primary-color;
    }
  }

  &Container {
    &Cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: 1fr;
      grid-column-gap: 50px;
      grid-row-gap: 20px;
    }
  }
}
