@use "../../../../styles/variables";
@import "../../../../styles/mixins";

.author {
  &Card {
    display: flex;
    justify-content: space-between;

    &Img {
      max-width: 50%;
      height: auto;
      transform: translateY(-0.5rem);
      box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
    }

    &Desc {
      width: 50%;
      padding: 0 1.5rem;
      text-align: left;

      span {
        color: variables.$secondary-color;
        font-size: 28px;
        line-height: 1.5;
        font-weight: 700;
      }

      p {
        @include paragraph(variables.$paragraph-color, 1.2rem);
        padding: 1rem 0;
      }

      h3 {
        @include h3(variables.$primary-color, 2.5rem, variables.$font-cardo);
        word-wrap: break-word;
      }

      h5 {
        @include h5(variables.$primary-color, 1.5rem, variables.$font-cardo);
        padding-left: 2rem;
      }
    }
  }
}
