@use "../../../../styles/variables";
@import "../../../../styles/mixins";

.author {
  &Card {
    display: flex;
    justify-content: space-between;

    &Img {
      max-width: 50%;
      height: auto;
      transform: translateY(-0.5rem);
      box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
    }

    &Desc {
      width: 50%;
      padding: 0 1.5rem;
      text-align: left;

      h3 {
        font-family: Cardo, sans-serif;
        font-size: 42px;
        color: variables.$primary-color;
        font-weight: 700;
        line-height: 38.4px;
        letter-spacing: 0.01em;
        word-wrap: break-word;
      }

      span {
        color: variables.$secondary-color;
        font-size: 28px;
        line-height: 1.5;
        font-weight: 700;
      }

      p {
        @include p-grey;
        word-wrap: break-word;
        padding: 1rem 0;
      }

      h5 {
        color: variables.$primary-color;
        font-size: 24px;
        font-family: Cardo;
        font-weight: 700;
        line-height: 28.8px;
        word-wrap: break-word;
        padding-left: 2rem;
      }
    }
  }
}

/*
    &Desc {
      padding: 1rem;

      h5 {
        font-size: 32px;
        color: variables.$primary-color;
        line-height: 38.4px;
      }

      span {
        color: variables.$secondary-color;
      }

      p {
        color: #969aa0;
        line-height: 28.5px;
        text-align: start;
        margin: 1rem 0;
      }
    }
    */
