@use "../../../../styles/variables";
@import "../../../../styles/mixins";

.Card {
  background-color: #fff;
  padding: 2rem;
  text-align: start;

  &Title {
    p {
      @include paragraph(variables.$paragraph-color, 1.4rem);
      padding-bottom: 1rem;
    }
    h6 {
      @include h6(variables.$primary-color, 1.5rem, variables.$font-cardo);
      padding-bottom: 1rem;
    }

    &Sub {
      display: flex;
      justify-content: left;
      align-items: center;

      &Data {
        margin-right: 5.5rem;
        p {
          @include paragraph(variables.$paragraph-color, 1.4rem);
          padding-left: 2rem;
        }
      }
    }
  }
}
