@use "../../../../styles/variables";

.Aboutjohn {
  background-color: variables.$page-background;
  &Container {
    &Img {
      img {
        width: 100%;
        height: auto;
      }
    }
    &Content {
      display: flex;
      align-items: center;
      margin: 3rem 0;

      &Bio {
        display: flex;
        flex-direction: column;
        background-color: variables.$main-font;
        padding: 2.5rem;
        justify-content: space-between;
        width: 40%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
        margin-right: 4rem;

        &Item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 1.5rem 0;
          font-size: 2rem;
          font-family: "Cardo,sans-serif";
          h6 {
            font-family: "Cardo,sans-serif";
            color: variables.$primary-color;
          }
          div {
            color: variables.$paragraph-color;
          }
        }
      }
      &Desc {
        text-align: left;
        width: 56%;
        padding: 3rem 0 0 1rem;
        h2 {
          text-transform: capitalize;
          color: variables.$primary-color;
          font-weight: 600;
          font-size: 55px;
          line-height: 1.2;
          font-family: "Cardo, sans-serif";
        }

        div {
          margin: 1.5rem 0;
        }

        p {
          color: variables.$paragraph-color;
          padding-top: 1.5rem;
          line-height: 1.8;
          font-size: 1.5rem;
        }
      }
    }
  }
}
