@use "../../../../styles/variables";
@import "../../../../styles/index.scss";

.Aboutjohn {
  background-color: variables.$page-background;
  padding-top: 2rem;
  &Container {
    &Img {
      img {
        width: 100%;
        height: auto;
      }
    }
    &Content {
      display: flex;
      align-items: center;
      margin: 1rem 0;

      &Bio {
        display: flex;
        flex-direction: column;
        background-color: variables.$main-font;
        padding: 2.5rem;
        justify-content: space-between;
        width: 40%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
        margin-right: 4rem;

        &Item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 1.5rem 0;
          h6 {
            @include h6(variables.$primary-color, 2rem, variables.$font-cardo);
          }
          div {
            color: variables.$paragraph-color;
          }
        }
      }
      &Desc {
        text-align: left;
        width: 56%;
        padding: 3rem 0 0 2rem;

        p {
          @include paragraph(variables.$paragraph-color, 1.4rem);
          padding-top: 1.5rem;
        }
      }
    }
  }
}
