@use "../../styles/variables";
@import "../../styles/mixins";

.Passwordpage {
  margin: 3rem 0;
  &Container {
    width: 40%;
    margin: 0 auto;

    &Content {
      background-color: variables.$page-background;
      padding: 5rem 0;
      h2 {
        font-weight: 600;
      }

      p {
        @include p-grey;
      }

      form {
        padding: 2rem 0;

        input {
          @include input-border;
        }
      }
    }
  }
}
