@use "../../../../styles/variables";

.Social {
  margin: 1rem 0;
  &List {
    display: flex;
    justify-content: start;

    li {
      color: #fff;
      padding: 0.8rem 1rem;
      border: 2px solid variables.$secondary-color;
      margin-right: 0.5rem;
      font-size: 2rem;
    }
  }
}
