@use "../../../../styles/variables";
@import "../../../../styles/mixins";

.Card {
  background-color: variables.$primary-color;
  padding: 2rem;
  color: variables.$main-font;
  display: flex;
  flex-direction: column;
  text-align: start;

  &Title {
    display: flex;
    align-items: start;

    img {
      width: 30%;
      // height: auto;
      border-radius: 50%;
    }

    &Name {
      padding: 1rem;

      h5 {
        @include h5-white;
      }
    }
  }
  h6 {
    @include h6-white;
    padding-bottom: 1rem;
  }

  p {
    @include p-light-s;
  }
}
