@use "../../../../styles/variables";
@import "../../../../styles/index";

.Card {
  background-color: variables.$primary-color;
  padding: 2rem;
  color: variables.$main-font;
  display: flex;
  flex-direction: column;
  text-align: start;

  &Title {
    display: flex;
    align-items: start;

    img {
      width: 30%;
      // height: auto;
      border-radius: 50%;
    }

    &Name {
      padding: 1rem;

      h5 {
        @include h5(variables.$main-font, 1.5rem, variables.$font-cardo);
      }
    }
  }
  p {
    @include paragraph(variables.$font-color, 1.4rem);
  }

  h6 {
    @include h6(variables.$main-font, 1.4rem, variables.$font-cardo);
    padding-bottom: 1rem;
  }
}
