@use "../../../../styles/variables";

.Card {
  background-color: variables.$primary-color;
  padding: 2rem;
  color: variables.$main-font;
  display: flex;
  flex-direction: column;
  text-align: start;

  &Title {
    display: flex;
    align-items: start;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
    }

    &Name {
      padding: 1.5rem;

      h5 {
        line-height: 28.8px;
        font-size: 24px;
      }
    }
  }
  h6 {
    font-size: 22px;
    padding-bottom: 1.5rem;
  }

  p {
    font-size: 22px;
    line-height: 28.8px;
    color: variables.$font-color;
  }
}
