@use "../../../../styles/variables";
@import "../../../../styles/mixins";

.card {
  width: 25%;
  &Content {
    padding: 1.5rem;
    text-align: center;

    img {
      max-width: 70%;
      max-height: auto;
    }

    p {
      @include paragraph(variables.$paragraph-color, 1.4rem);
      margin-top: 22px;
    }

    h4 {
      @include h4(variables.$primary-color, 24px, variables.$font-cardo);
      margin-top: 22px;
      padding-bottom: 5px;
    }
  }
}
