@use "../../../../styles/variables";

.card {
  width: 25%;
  &Content {
    padding: 1.5rem;
    text-align: center;

    img {
      max-width: 70%;
      max-height: auto;
    }

    h4 {
      color: variables.$primary-color;
      margin-top: 22px;
      padding-bottom: 5px;
      font-size: 24px;
      font-weight: 700;
    }

    p {
      font-family: Inter, sans-serif;
      margin-top: 22px;
      color: variables.$paragraph-color;
      font-size: 19px;
      line-height: 1.5;
    }
  }
}
