@use "./variables";
@import "./extends";

@mixin input-border {
  border: 1px solid variables.$input-border;
  outline: none;
  font-size: 19px;
  font-family: "Inter", sans-serif;
  padding: 2rem;

  &:hover,
  &:active {
    border: 1px solid variables.$secondary-color;
  }
}

@mixin paragraph($color, $size) {
  color: $color;
  font-size: $size;
  @extend %extend-paragraph;
}

@mixin h1($color, $size, $family) {
  font-size: $size;
  color: $color;
  font-family: $family;
  @extend %extend-h1;
}

@mixin h2($color, $size, $family) {
  font-size: $size;
  color: $color;
  font-family: $family;
  @extend %extend-h2;
}

@mixin h3($color, $size, $family) {
  font-size: $size;
  color: $color;
  font-family: $family;
  @extend %extend-h3;
}

@mixin h4($color, $size, $family) {
  font-size: $size;
  color: $color;
  font-family: $family;
  @extend %extend-h4;
}

@mixin h5($color, $size, $family) {
  font-size: $size;
  color: $color;
  font-family: $family;
  @extend %extend-h5;
}

@mixin h6($color, $size, $family) {
  font-size: $size;
  color: $color;
  font-family: $family;
  @extend %extend-h6;
}

@mixin btnMain($color) {
  color: $color;
}
