@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cardo", serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

/*
h2 {
  font-size: 55px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Cardo,sans-serif";
  color: variables.$primary-color;
}

h3 {
  font-size: 65px;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Cardo, sans-serif";
  color: variables.$primary-color;
}

h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 28.8px;
  word-wrap: break-word;
  padding-bottom: 1rem;
  font-family: "Cardo, sans-serif";
  color: variables.$primary-color;
}

h5 {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 700;
  font-family: "Cardo, sans-serif";
  color: variables.$primary-color;
}

h6 {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
  font-family: "Cardo, sans-serif";
  color: variables.$primary-color;
}

*/
input::-moz-placeholder {
  font-size: 20px;
  left: 0;
}
input::placeholder {
  font-size: 20px;
  left: 0;
}

.active {
  color: #ffca42;
}

.paddings {
  padding: 3rem 0;
}

.responsive {
  width: 100%;
  height: auto;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  text-align: center;
}

.flexStart {
  display: flex;
  row-gap: 2rem;
  justify-content: left;
  align-items: center;
}

.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.btn-get {
  border: 2px solid #ffca42;
  padding: 1rem 3.2rem;
  background-color: transparent;
  margin: 2rem 0;
  color: #ffffff;
}

.btn-page {
  padding: 0.7rem 6rem;
  background-color: #ffca42;
  border: 3px solid transparent;
  margin: 1rem 0;
  font-size: 19px;
  font-family: "Cardo";
  font-weight: 400;
}

.submit-btn {
  display: block;
  padding: 2rem;
  background-color: #ffca42;
  border: 2px solid #ffca42;
  color: #1b3764;
  font-size: 1.5rem;
  font-weight: 700;
}

.subscribe {
  background-color: #1b3764;
  display: block;
  color: #fff;
  padding: 0 4rem;
  border-radius: 3px;
}

.authorBtn {
  padding: 17px 50px;
  background-color: transparent;
  border: 2px solid #ffca42;
  margin: 1.5rem 0;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #1b3764;
}

.authorBtn:hover {
  background-color: #ffca42;
  transition: 0.2s;
}

.cardo {
  font-family: "Cardo", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.sub {
  position: relative;
  font-size: 1.5rem;
  padding-left: 2.5rem;
  line-height: 36px;
  letter-spacing: 1.2px;
  font-style: italic;
}

.sub::before {
  content: "";
  display: block;
  width: 35px;
  height: 4px;
  background: #ffca42;
  position: absolute;
  left: 0;
  top: 0.9rem;
}

.yellow-circle {
  position: relative;
}

.yellow-circle::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffca42;
  left: -0.005em;
  top: 0.1rem;
}

.main-circle {
  position: relative;
}
.main-circle:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffca42;
  right: 1.3rem;
  top: 0.1rem;
}

.checked {
  background-color: #ffca42;
}

.desc {
  color: #b4c7e7;
}

.printed {
  color: #1b3764;
}

.title {
  font-size: 2.3rem;
  padding: 2rem 0;
  line-height: 50.4px;
  font-size: 42px;
  color: #1b3764;
}

.p3 {
  padding: 3rem 0;
}

.blueSub {
  color: #1b3764;
  font-size: 24px;
}

.titleLine {
  width: 4rem;
  text-align: center;
  height: 0.3rem;
  background-color: #ffca42;
}

.titleLineLeft {
  margin: 2rem 0;
  width: 4rem;
  height: 0.3rem;
  background-color: #ffca42;
  top: 1rem;
  left: 0;
}

.titleLineBlue {
  width: 4rem;
  height: 0.2rem;
  background-color: #1b3764;
}

.imageDecor {
  position: absolute;
  border: 7px solid #ffca42;
  top: 2.8rem;
  left: 2.5rem;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.border-left,
.border-right {
  border-left: 0.2rem solid #ffca42;
  height: 8rem;
  margin-bottom: 2rem;
}

.active {
  color: #ffca42;
}

.social a i {
  color: #1b3764;
  padding-right: 0.8rem;
  font-size: 1.5rem;
}

.dotted-border {
  border-left: 2px dotted black;
  height: 3rem;
}

.footerSeparator {
  border-bottom: 2px solid #b4c7e7;
  margin: 2rem 0;
}/*# sourceMappingURL=index.css.map */