@use "../../../../styles/variables";

.social {
  padding-left: 3rem;
  a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$main-font;
    text-align: center;
    padding: 0.4rem;
    margin-right: 0.5rem;
    color: black;

    &:hover {
      background-color: variables.$secondary-color;
    }
  }
}
