@use "../../styles/variables";

.header {
  background-color: variables.$primary-color;
  font-family: Inter;

  &Container {
    justify-content: space-between !important;

    &Logo {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    &Social {
      padding-left: 3rem;
      a {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: variables.$main-font;
        text-align: center;
        padding: 0.4rem;
        margin-right: 0.5rem;

        &:hover {
          background-color: variables.$secondary-color;
        }
      }
    }

    &Nav {
      &Menu {
        color: variables.$main-font;

        li {
          padding-right: 2rem;
        }

        :nth-child(5) {
          color: black;
        }

        :hover {
          color: variables.$secondary-color;
        }
      }
    }
  }
}
