@use "../../styles/variables";
@import "../../styles/mixins";

.Maintitle {
  text-align: center;
  padding-top: 3rem;
  h2 {
    @include h2-main;
  }

  div {
    padding-top: 1rem;
    border-bottom: 3px solid variables.$secondary-color;
    width: 3%;
    margin: 0 auto;
  }
}
