@use "../../styles/variables";

.pages {
  background-color: variables.$background-color;

  &Title {
    margin-bottom: 3rem;

    span {
      position: absolute;
      ::before {
        content: "";
        position: relative;
        width: 50px;
        height: 3px;
        background-color: variables.$secondary-color;
        top: 5rem;
      }
    }
  }

  &Container {
    &Desc {
      margin: 1rem;
      p {
        font-size: 18px;
        color: #969aa0;
        text-align: center;
        span {
          color: variables.$primary-color;
        }
      }
    }
  }
}
