@use "../../styles/variables";

.pages {
  background-color: variables.$background-color;

  &Container {
    &Cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
      margin: 1rem;
    }

    &Desc {
      p {
        font-size: 18px;
        color: #969aa0;
        text-align: center;
        span {
          color: variables.$primary-color;
        }
      }
    }
  }
}
