@use "../../../../styles/variables";
@import "../../../../styles/index.scss";

.Kit {
  &Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &Desc {
      text-align: start;
      width: 52%;

      p {
        @include paragraph(variables.$paragraph-color, 1.4rem);
      }

      &Adress {
        padding: 1rem 0;

        &Item {
          display: flex;
          align-items: flex-start;
          padding: 1rem 0;

          h6 {
            @include h6(variables.$primary-color, 2rem, variables.$font-cardo);
          }

          &Logo {
            font-size: 3rem;
            padding: 1rem 1.3rem;
            background-color: variables.$primary-color;
            color: variables.$secondary-color;
          }

          &Sub {
            padding: 0 2rem;
          }
        }
      }
    }
  }
}
