@use "../../../../styles/variables";
@import "../../../../styles/index.scss";

.story {
  padding: 4rem 0;
  &Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      @include paragraph(variables.$paragraph-color, 1.4rem);
    }

    &Desc {
      text-align: left;
      width: 45%;

      &Award {
        margin: 1rem;
        &Item {
          display: flex;
          flex-direction: row;

          &Num {
            h5 {
              @include h5(
                variables.$primary-color,
                2.5rem,
                variables.$font-cardo
              );
              background-color: variables.$secondary-color;
              padding: 1rem 1.3rem;
            }
            div {
              margin-left: 2rem;
            }
          }

          &Title {
            padding-left: 2rem;

            h4 {
              @include h4(
                variables.$primary-color,
                1.5rem,
                variables.$font-cardo
              );
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}
