@use "../../styles/variables";
@import "../../styles/mixins";

.main {
  background-color: variables.$primary-color;

  &Container {
    padding: 1.5rem;
    justify-content: space-between !important;
    &Content {
      color: variables.$main-font;

      h1 {
        @include h1;
      }

      h6 {
        font-size: 1.5rem;
        line-height: 28.8px;
        letter-spacing: 0.48px;
      }

      p {
        @include p-light-m;
        text-align: left;
      }

      &Btn {
        padding: 1em 0;
        display: flex;
        align-items: center;
        gap: 3rem;
      }

      &List {
        &Item {
          padding-left: 2.5rem;
          padding-right: 2rem;
          h6 {
            @include h6-white;
            padding-bottom: 0.7rem;
          }
        }
      }
    }
  }
}
