@use "../../styles/variables";
@import "../../styles/index.scss";

.title {
  background-color: variables.$primary-color;
  &Container {
    width: 33%;

    p {
      @include paragraph(variables.$font-color, 1.4rem);
      padding: 2rem;
    }

    h2 {
      @include h2(variables.$main-font, 3.5rem, variables.$font-cardo);
    }

    div {
      border-bottom: 3px solid variables.$secondary-color;
      width: 10%;
      margin: 0 auto;
      padding-top: 2rem;
    }
  }
}
