@use "../../styles/variables";
@import "../../styles/index.scss";

.Pagenotfound {
  &Container {
    h2 {
      @include h2(variables.$primary-color, 14rem, variables.$font-cardo);
      text-shadow: 7px 6px 1px rgba(255, 202, 66, 0.63);
      padding: 1rem 0;
    }

    h3 {
      @include h3(variables.$primary-color, 2.5rem, variables.$font-cardo);
    }

    p {
      @include paragraph(variables.$paragraph-color, 1.4rem);
      padding: 2rem 0;
    }
  }
}
