@use "../../styles/variables";
@import "../../styles/mixins";

.Lefttitle {
  text-align: left;
  h2 {
    @include h2-main;
  }

  div {
    padding-top: 1rem;
    border-bottom: 3px solid variables.$secondary-color;
    width: 7%;
  }

  p {
    @include p-grey;
    padding-top: 1rem;
  }
}
