@use "./styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cardo", serif;
  //font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 22px;
}

h2 {
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
}

h4 {
  font-size: 26px;
  color: variables.$primary-color;
  font-weight: 700;
  line-height: 28.8px;
  word-wrap: break-word;
  padding-bottom: 1rem;
}

input::placeholder {
  font-size: 20px;
  left: 0;
}

.paddings {
  padding: 3rem 0;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.d-flex {
  display: flex;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  text-align: center;
}

.flexStart {
  display: flex;
  row-gap: 2rem;
  justify-content: start;
  align-items: center;
}

.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.btn-main {
  padding: 0.7rem 2rem;
  background-color: variables.$secondary-color;
  border: 3px solid transparent;
  margin: 1rem 0;
  font-size: 19px;
  font-family: "Cardo";
  font-weight: 400;
}

.btn-main:hover {
  color: black;
  border-bottom: 3px solid variables.$main-font;
  color: variables.$main-font;
  background-color: transparent;
}

.btn-get {
  border: 2px solid variables.$secondary-color;
  padding: 1rem 3.2rem;
  background-color: transparent;
  margin: 2rem 0;
  color: variables.$main-font;
}

.btn-page {
  padding: 0.7rem 6rem;
  background-color: variables.$secondary-color;
  border: 3px solid transparent;
  margin: 1rem 0;
  font-size: 19px;
  font-family: "Cardo";
  font-weight: 400;
}

.subscribe {
  background-color: variables.$primary-color;
  display: block;
  color: #fff;
  padding: 0 4rem;
  border-radius: 3px;
}

.cardo {
  font-family: "Cardo", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.sub {
  position: relative;
  font-size: 1.5rem;
  padding-left: 2.5rem;
  line-height: 36px;
  letter-spacing: 1.2px;
}

.sub::before {
  content: "";
  display: block;
  width: 35px;
  height: 4px;
  background: #ffca42;
  position: absolute;
  left: 0;
  top: 0.9rem;
}

.yellow-circle {
  position: relative;
}

.yellow-circle::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffca42;
  left: -0.005em;
  top: 0.2rem;
}

.checked {
  background-color: #ffca42;
}

.desc {
  color: variables.$font-color;
}

.authorBtn {
  padding: 17px 50px;
  background-color: transparent;
  border: 2px solid variables.$secondary-color;
  margin: 1.5rem 0;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: variables.$primary-color;
}

.authorBtn:hover {
  background-color: variables.$secondary-color;
  transition: 0.2s;
}

.printed {
  color: variables.$primary-color;
}

.title {
  font-size: 2.3rem;
  padding: 2rem 0;
  line-height: 50.4px;
  font-size: 42px;
  color: variables.$primary-color;
}

.p3 {
  padding: 3rem 0;
}

.blueSub {
  color: variables.$primary-color;
  font-size: 24px;
}

.titleLine {
  width: 4rem;
  text-align: center;
  height: 0.3rem;
  background-color: variables.$secondary-color;
}

/*
.titleLine:after {
  position: absolute;
  content: "";
  width: 4rem;
  text-align: center;
  height: 0.3rem;
  background-color: variables.$secondary-color;
  top: 3.5rem;
  left: -11rem;
}
*/
.titleLineLeft {
  position: relative;
}

.titleLineLeft:after {
  position: absolute;
  content: "";
  width: 4rem;
  height: 0.3rem;
  background-color: variables.$secondary-color;
  top: 1rem;
  left: 0;
}
