@use "./styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cardo", serif;
  //font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.flexStart {
  display: flex;
  row-gap: 2rem;
  justify-content: start;
  align-items: center;
}

.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.btn-main {
  padding: 0.7rem 2rem;
  background-color: variables.$secondary-color;
  border: 3px solid transparent;
  margin: 0.5rem;
}

.btn-main:hover {
  color: black;
  border-bottom: 3px solid variables.$main-font;
  color: variables.$main-font;
  background-color: transparent;
}

.cardo {
  font-family: "Cardo", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.sub {
  position: relative;
  font-size: 1.5rem;
  padding-left: 2.5rem;
  line-height: 36px;
  letter-spacing: 1.2px;
}

.sub::before {
  content: "";
  display: block;
  width: 35px;
  height: 4px;
  background: #ffca42;
  position: absolute;
  left: 0;
  top: 0.9rem;
}

.yellow-circle {
  position: relative;
}

.yellow-circle::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffca42;
  left: -2em;
  top: 0.1rem;
}

.desc {
  color: variables.$font-color;
}
