@use "../../../../styles/variables";

.Card {
  background-color: #fff;
  border-radius: 1%;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.07);

  img {
    max-width: 100%;
    height: auto;
  }

  &Desc {
    text-align: start;
    padding: 2rem;

    h4 {
      font-size: 30px;
      color: variables.$primary-color;
      line-height: 33.6px;
      line-height: 1.4;
      font-weight: 700;
    }

    p {
      color: variables.$paragraph-color;
      padding: 0.5rem 0;
      line-height: 30.4px;
    }

    &Data {
      color: variables.$primary-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 23px;
      padding: 1rem 0;
      a {
        text-transform: capitalize;
        line-height: 22.8px;
        letter-spacing: 0.38px;
        word-wrap: break-word;
        border-bottom: 2px solid variables.$primary-color;
      }
    }
  }
}
