.secondary-menu {
  position: absolute;
  top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
  height: 274px;
  max-width: none;
  padding: 20px 30px 30px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.17);
  text-align: left;
}

.secondary-menu li {
  margin-left: 0;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  -webkit-transition: color .2s;
  transition: color .2s;
  color: #1b3764;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: .01em;
  padding: 10px 20px;
  position: relative;
  vertical-align: top;
  text-decoration: none;
  text-align: left;
  white-space: nowrap;
}

.secondary-menu li .title-text {
  display: block;
  font-family: Cardo,sans-serif;
  color: #1b3764;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .03em;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 10px;
}

.secondary-menu li a:hover {
  margin-bottom: 10px;
  padding-bottom: 0;
  color: #ffca42;
}