@use "../../../../styles/variables";

.form {
  margin: 0 3rem;

  input {
    border: 2px solid variables.$input-border;
    padding: 2rem;
    margin: 1rem 0;
  }

  &Name {
    display: flex;
    gap: 2rem;
  }

  &Data {
    display: flex;
    flex-direction: column;

    textarea {
      height: 11rem;
      border: 2px solid variables.$input-border;
      font-size: 1.3rem;
      padding: 2rem;
    }
  }

  &Agreement {
    text-align: left;
    margin: 1rem 0 1.5rem 0;

    label {
      font-size: 1.1rem;
      font-family: "Inter, sans-serif";
      color: variables.$paragraph-color;
    }

    input {
      [type="checkbox"] {
        padding: 4rem;
      }
    }
  }
}
